version: '3.5'

services:
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    networks:
      - mainnet
    container_name: kubbetition-postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kubbetition
    environment:
      - PORT=${PORT}
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis
    networks:
      - mainnet
    volumes:
      - ./src:/app/src
      # - ./src:/app/node_modules

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: kubbetition-pgadmin
    networks:
      - mainnet
    env_file:
      - .env
    ports:
      - '5050:80'
    depends_on:
      - db

  redis:
    image: redis
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASS"
    networks:
      - mainnet
    env_file:
      - .env
    ports:
      - '6379:6379'
    volumes:
      - ./redis/data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: kubbetition-rabbitmq
    hostname: rabbitmq
    networks:
      - mainnet
    env_file:
      - .env
    volumes:
      - /var/lib/rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'

networks:
  mainnet: